<section class="contact" id="contact">
    <h2 class="heading">Contact<span style="color: #FFC107;"> Us</span></h2>
    <form action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="f900d251-0df4-45a2-85e1-9e40f228d924">

        <input type="text" name="name" placeholder="Your Name" class="input-box" required>
        <input type="email" name="email" placeholder="Your Email" class="input-box" required>
        <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
        <button type="submit" class="btn">Submit</button>
    </form>
</section>
