/* src/app/navbar/navbar.component.css */

/* Navbar Styles */
.custom-navbar {
    position: fixed; /* Change to fixed positioning */
    top: 0;
    width: 100%;
    background: transparent;
    border: none; /* Remove any borders */
    box-shadow: none; /* Remove any box shadows */
    z-index: 2; /* Ensure the navbar is above the hero section */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .navbar-toggler {
    color: white !important;
}

.custom-navbar .navbar-toggler-icon {
    filter: invert(1);
}

/* Remove any borders from navbar elements */
.navbar-nav .nav-link {
    border: none !important;
}

.navbar-nav .nav-item {
    border: none !important;
}

.navbar-toggler {
    border: none !important;
}

/* Add hover effect for links and icons */
.custom-navbar .navbar-brand:hover,
.custom-navbar .nav-link:hover,
.custom-navbar .navbar-toggler:hover,
.custom-navbar .nav-link:hover i,
.custom-navbar .nav-link i:hover,
.custom-navbar .navbar-toggler-icon:hover {
    color: yellow !important; /* Change color to yellow on hover */
}
