<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 text-overlay">
                <div class="intro-excerpt">
                    <h1>About Us</h1>
                    <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                        vulputate velit imperdiet dolor tempor tristique.</p>
                    <p><a href="" class="btn btn-secondary me-2">Reserve Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
