/* src/app/navbar/navbar.component.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.hero {
    background-image: url('src/assets/images/yellow_car.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    
}

.hero .container {
    position: relative;
    z-index: 2;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust the overlay color and opacity */
    z-index: 0;
}
