<!--<div>
  <h1>Create Rental Order</h1>
  <form (ngSubmit)="createRental()">
    <div>
      <label for="pickupDateTime">Pickup Date:</label>
      <input type="datetime-local" *ngIf="newOrder.rentalItems && newOrder.rentalItems[0]" [(ngModel)]="newOrder.rentalItems[0].pickupDateTime" name="pickupDateTime" required>
    </div>
    <div>
      <label for="returnDateTime">Return Date:</label>
      <input type="datetime-local" *ngIf="newOrder.rentalItems && newOrder.rentalItems[0]" [(ngModel)]="newOrder.rentalItems[0].returnDateTime" name="returnDateTime" required>
    </div>
    <button type="submit">Create Rental</button>
  </form>
</div>-->


