<!-- src/app/category/category.component.html -->
<div class="hero" style="background-color: #ffffff; display: flex; justify-content: center; align-items: center;">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 text-overlay">
        <div class="intro-excerpt">
          <h1><span style="color: #FFC107; text-align: center; animation: fadeIn 2s ease-in-out; text-shadow: 2px 2px 4px #484645;">Our</span> <span style="color: #484645;"> Categories</span> </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="category-background" style="background-color: #ffffff;">
  <main>
    <div class="card-container">
      <div class="card">
        <img src="assets\images\Vintage.jpeg" alt="SUV">
        <div class="card-content">
          <h2>Vintage</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem iste, voluptatum, quia explicabo laboriosam rem adipisci voluptates cumque, veritatis atque nostrum corrupti ipsa asperiores harum? Dicta odio aut hic.</p>
          <a href="#" class="button">
            Find out more 
            <span class="material-symbols-outlined">arrow_right_alt</span>
          </a>
        </div>
      </div>

      <div class="card">
        <img src="assets\images\Hatchbacks.jpeg" alt="Sedans">
        <div class="card-content">
          <h2>Hatchbacks</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias incidunt minima consectetur exercitationem optio.</p>
          <a href="#" class="button">
            Find out more 
            <span class="material-symbols-outlined">arrow_right_alt</span>
          </a>
        </div>
      </div>

      <div class="card">
        <img src="assets\images\spoort.jpeg" alt="Sports">
        <div class="card-content">
          <h2>Sport</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, earum?</p>
          <a href="#" class="button">
            Find out more 
            <span class="material-symbols-outlined">arrow_right_alt</span>
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  </style>
  